/*Navigation*/

#navigation{
	overflow: auto;
	overflow:hidden;
	border-top:1px #ccc solid;
	border-bottom:1px #ccc solid;
	height:24em;
	background: #f8f8f8 url( images/nav_bg.gif );
	clear: both;
}

ul.breadCrumb{
    clear: both;
	list-style:none;
	font-family: georgia, helvetica, sans-serif;
	margin: 0 0 0 0;
}

ul.breadCrumb li{
	display: block;
	float:left;
}

ul.breadCrumb li a{
    display: block;
    width: auto;
	color:#aaa;
	background:#eee;
	cursor: pointer;
	text-decoration:none;
	padding: .5em 1em;
}

ul.breadCrumb li a:hover{
	background:#0af;
	color:#fff;
}

#navigation .pane{
    height: 100%;
}

#navigation ul.nodes{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 100%;
}

#navigation .node{
    line-height: 24px;
    padding:0;
    border-bottom:1px #cdf solid;    
}

#navigation .node.active,
#navigation .node:hover,
#navigation .node:hover h5,
#navigation .node.active h5{
	cursor: pointer;
	background: #0af;
	color:#fff;
}

#navigation .node h5{
	font-size: .875em;
	line-height:1.2em;
	margin: 0 0 0 0;
	padding:.5em 0 .5em 2.5em;
	float: left;
}


#navigation .node .methods{
	float: right;
	padding: 0 .5em 0 0;
}

#navigation a.icon{
    text-indent: -3000px;
}


#navigation .grid_2,
#navigation .grid_3,
#navigation .grid_4{
    margin: 0 0 0 0;
}


#navigation ul.tier{
	overflow: auto;
	height: 22em;
	background: #f8f8f8 url( images/nav_bg.gif ) repeat-y;
}

#navigation  a.icon{
	display:block;
	float:left;
	width: 12px;
	height: 12px;
	margin:.5em .25em;
}

/* Default is leaf */
#navigation .node h5{
	background-image: url( images/icon_leaf.png );
	background-position: 1em .5em;
	background-repeat: no-repeat;
}
#navigation .node.active h5,
#navigation .node:hover h5{
	background-image: url( images/icon_leaf_hover.png );
	background-position: 1em .5em;
	background-repeat: no-repeat;
}

#navigation .node.category h5{
	background-image: url( images/icon_category.png );
	background-position: 1em .5em;
	background-repeat: no-repeat;
}

#navigation .node.category.active h5,
#navigation .node.category:hover h5{
	background-image: url( images/icon_category_hover.png );	
	background-position: 1em .5em;
	background-repeat: no-repeat;
}

#navigation .node a.removeNode{
	background: url(images/icon_delete.png);
}

#navigation .node:hover a.removeNode,
#navigation .node.active a.removeNode{
	background: url(images/icon_delete_hover.png);
}

#navigation .node a.published{
	background: url(images/icon_published.png);	
}

#navigation .node a.unpublished{
	background: url(images/icon_unpublished.png);	
}

#navigation .node.active a.published,
#navigation .node:hover a.published{
	background: url(images/icon_published_hover.png);	
}

#navigation .node.active a.unpublished,
#navigation .node:hover a.unpublished{
	background: url(images/icon_unpublished_hover.png);	
}
