/*Navigation*/

#navigation{
	height: 27em;
	width: 100%;
	clear: both;
}

#navigation>.container{
	height:24em;    
	overflow:hidden;
	border-top:1px #ccc solid;
	border-bottom:1px #ccc solid;
	background: #f8f8f8 url( ../images/navContainer_bg.gif );
}

#navigation .grid_2,
#navigation .grid_3,
#navigation .grid_4{
	margin: 0 0 0 0;
}

#navigation .panes{
	height: 100%;
	position: relative;
}

#navigation .pane{
    height: 100%;
    width: 300px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: inline-block;
		background: #f8f8f8 url( ../images/nav_bg.gif ) repeat-y;
}

#navigation .pane.dark{
	background: #313232 url( ../images/nav_bg_dark.gif ) repeat-y;
}

#navigation ul.nodes{
	list-style: none;
	overflow: auto;
	height: 100%;
}

#navigation .node,
.tierMethodsDrawer .addableObjects li{
	line-height: 2;
	height: 2em;
	padding: .25em 0;
	border-bottom:1px #cdf solid;    
	font-size: 1.125em;
	/*width: 100%;*/
}


#navigation .node.active,
#navigation .node:hover,
.addableObjects li:hover{
	cursor: pointer;
	background-color: #0af;
	color:#fff;
}

#navigation .node.active h5,
#navigation .node:hover h5{
	color:#fff;
}

#navigation .node h5{
	font-size: .875em;
	line-height:1.4em;
	margin: 0 0 0 0;
	padding: 8px 0 9px 32px;
	float: left;
	background-image: url( ../images/icon_leaf.png );
	background-position: 12px 10px;
	background-repeat: no-repeat;
	width: 200px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}


#navigation .node .methods{
	padding: 0 .5em 0 0;
}

#navigation a.icon{
	text-indent: -3000px;
	display:block;
	float:left;
	width: 12px;
	height: 12px;
	margin:.5em .25em;
}

#navigation .node.active h5,
#navigation .node:hover h5{
	background-image: url( ../images/icon_leaf_hover.png );
	background-position: 12px 10px;
	background-repeat: no-repeat;
}

#navigation .node.category h5{
	background-image: url( ../images/icon_category.png );
	background-position: 1em .5em;
	background-repeat: no-repeat;
}

#navigation .node.category.active h5,
#navigation .node.category:hover h5{
	background-image: url( ../images/icon_category_hover.png );	
	background-position: 1em .5em;
	background-repeat: no-repeat;
}

#navigation .node.module h5{
	background-image: url( ../images/icon_module.png );
	background-position: 1em .5em;
	background-repeat: no-repeat;
}

#navigation .node.module.active h5,
#navigation .node.module:hover h5{
	background-image: url( ../images/icon_module_hover.png );	
	background-position: 1em .5em;
	background-repeat: no-repeat;
}

#navigation .node a.removeNode{
	background-image: url(../images/icon_delete.png);
}

#navigation .node:hover a.removeNode,
#navigation .node.active a.removeNode{
	background-image: url(../images/icon_delete_hover.png);
}

#navigation .node a.togglePublish{
	background-image: url(../images/icon_unpublished.png);	
}

#navigation .node a.published{
	background-image: url(../images/icon_published.png);	
}

#navigation .node.active a,
#navigation .node:hover a{
	background-image: url(../images/icon_unpublished_hover.png);	
}

#navigation .node.active a.published,
#navigation .node:hover a.published{
	background-image: url(../images/icon_published_hover.png);	
}

.tierMethodsDrawer{
	position: absolute;
	width: 300px;
	font-size: 12px;
	top: 25.45em;
	z-index: 1000;
	background: url( ../images/navBgDark.png	);
	color: #fff;
}

.tierMethodsDrawer .titleBar{
  padding: .25em 0 .25em 1em;
}

.tierMethodsDrawer h5.title{
	font-size: 12px;
	line-height: 2;
	cursor: pointer;
	color: #ccc;
	width: 250px;
	float: left;
	font-family: Georgia;
	font-style: italic;
}

.tierMethodsDrawer .icon.close{
	width: 12px;
	height: 12px;
	float: right;
	display: block;
	text-indent: -1000px;
	position: relative;
	background-image: url(../images/icon_delete_hover.png	);
}

.tierMethodsDrawer ul{
	overflow: auto;
	border-top: 1px #303030 solid;
}

.tierMethodsDrawer li{
	border-bottom: 1px #303030 solid !important;
	padding: .25em .5em;
	cursor: pointer;
}

.tierMethodsDrawer li:hover{
	background: #333;
}

.tierMethodsDrawer .addableObjects h5{
	font-size: 12px;
	line-height: 2;
	color: #6c6c6c;
	padding-left: 1em;
}

.tierMethodsDrawer .addableObjects li:hover h5{
	color: #eee;
}
